#info label {
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 15px;
}
/*
#submit_btn{
    background-color: #8db0f2;
    display: inline;
}
#submit_btn:hover{
    background: #333;
    text-decoration:none;
    color: white;
} 
#reset_btn{
    background-color: #d3d3d3;
    display: inline;
}
#reset_btn:hover{
    background: #333;
    text-decoration:none;
    color: white;
} */