.btn2{
    padding:8px;
    border-radius:4px;
    background-color:lightblue;
    color:white;
    font:bold;
}
btn2:hover {
    opacity: 0.5;
}
.rating {
    color: #ccc;
}
a:hover
h5{
    color: #ec008c;
}
h4:hover{
    text-decoration: underline;
}

