/* Search css */
.unshow{
    display: none;
}
.liOption{
    color: #22292e;
    border-bottom: 1px solid #dedfe0;
    height: 45px;
    padding: 10px 0px 0px 10px;
}
.liOption:hover{
    background-color: #ffe6ee;
}
.no-bottom{
    border-bottom: none;
}
.search-query{
    width:800px !important;
    border:1px solid lightgrey !important;
}
#find{
    width: 260px;
    position: absolute;
    top: 14px;
    left: 75px;
    border: none;
    border-right: 2px solid lightpink;
    color:black;
    font-size: 19px;
}
.find-span{
    color: black;
    position: absolute;
    top: 17px;
    left: 29px;
}
.near{
    position: absolute;
    top: 17px;
    left: 350px;
    color: black;
}
.location_input{
    width: 220px;
    height: 30px;
    position: absolute;
    top: 14px;
    left: 393px;
    border: none;
    color: black;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-right: 2px solid lightpink;
}

.locationUL{
    width: 36%;
    /*height: 217px;*/
    background-color: white;
    position: absolute;
    left: 333px;
    top: 56px;
    border-radius: 3px;
    display: none;
    padding-left: 0px;
}

.location_opt{
    border:1px solid #eaeaea;
    width:100%;
    height:45px;
    position: relative;
    text-align:center;
}

.address{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70%;
    display: inline-block;
    margin-top: 14px;
    color: black;
    font-size: 12px;
    white-space: nowrap;
    /*margin-left: 40px;*/
    padding: auto;
}

.close{
    position:absolute;
    top:14px;
    right:10px;
    width:16px;
    height:16px;
}

.add-loc-btn{
    margin-bottom: 0px !Important; 
}
.select_box{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 14px;
    left: 14px;
    border: 3px solid lightseagreen;
    border-radius: 8px;
}
.selected{
    width: 6px;
    height: 6px;
    position: absolute;
    top: 19px;
    left: 19px;
    border-radius: 3px;
    background-color: lightseagreen;

}

.drawdown{
    left: -30px;
    border: none;
}

.showOption{
    display:inline-block;
    width:100%;
    margin-left: 5px;
}

.option{
    display: none;
    background-color: white;
    margin-left: 10px;
    position: absolute;
    left: -11px;
    top: 40px;
    width: 108%;
    height:92px;
    border-radius: 3px;
}
.modal-title{
    color: #22292e;
}
.btn-row{
    line-height: 5em;
}

#type_option{
    padding-left: 0px;
}

/*
    #head_option li{
        height: 45px;
        line-height: 3;
        padding-left: 16px;
        border: 1px solid #eaeaea;
        color:black;
    }
    #head_option li:hover{padding-left: 20px;color:#FD3E4C;}
*/