hr {
    border-color: #8c8f92;
}
h5 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #252a2f;
    font-family: "Roboto Condensed",Helvetica,Times New Roman,sans-serif;
}
#Img_carousel{
    margin-top: 30px; 
    margin-bottom: 30px;
}

.btn-cart:hover{
    color: #ec008c;
}

.dishdetail_half_star1{
    color: #FC0;
        position: absolute;
        left:73px;
        margin-top: 1px!important;
}

.dishdetail_half_star1{
    color: #FC0;
        position: absolute;
        left:73px;
        margin-top: 1px!important;
}
.dishdetail_half_star2{
    color: #FC0;
        position: absolute;
        left:96px;
        margin-top: 1px!important;
}
.dishdetail_half_star3{
    color: #FC0;
        position: absolute;
        left:119px;
        margin-top: 1px!important;
}.dishdetail_half_star4{
    color: #FC0;
        position: absolute;
        left:142px;
        margin-top: 1px!important;
}
.dishdetail_half_star5{
    color: #FC0;
        position: absolute;
        left:165px;
        margin-top: 1px!important;
}


.review_half_star1{
    color: #FC0;
        position: absolute;
        left:795px;
        margin-top: 3px!important;
}

.review_half_star2{
    color: #FC0;
        position: absolute;
        left:825px;
        margin-top: 3px!important;
}
.review_half_star3{
    color: #FC0;
        position: absolute;
        left:856px;
        margin-top: 3px!important;
}
.review_half_star4{
    color: #FC0;
        position: absolute;
        left:887px;
        margin-top: 3px!important;
}
.review_half_star5{
    color: #FC0;
        position: absolute;
        left:918px;
        margin-top: 3px!important;
}
.form-control-cart {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: none;
    color: #333;
    height: 35px;    
}

.form-control-cart:focus {
    border-color: #b0c8ff;
    box-shadow: inset 0 1px 1px rgba(0,0,255,0.3), 0 0 8px rgba(0,0,255,0.3);
}
