#asucla-header-cart
{
    white-space: nowrap;
    font-size: 15px;
}   
.drawdown{
    width:16%;
    position: relative;
    top: -50px;
    text-align: left;
    border-left: 2px solid lightpink;
    padding-top: 3px;
    float: right;
    height: 27px;
}

.add_color{
    color:black;
}
.search{
    width: 81%;
    border: none;
}
.s_color{color: lightgray;}

.fa-stack-1x{
    font-size: 12px;
}

#option li{margin-left: 10px;margin-top: 5px;}
#option li:hover{padding-left: 5px;color:#FD3E4C;}